body {
   font-family: Arial, sans-serif;
            text-align: center;
            background-color: #FFB6C1;
        }
 #guess-input {
            width: 100px;
            font-size: 17px;
        }
 #message {
            margin-top: 50px;
    }
h1{
	color: #6A5ACD;
	font-size: 40px;
}
button {
	color: black;
	height: 25px;
	width: 70px;
}
